*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
#Home{
    width: 100%;
    height: 100vh;
    background-image: url(./picture/eFsiXhx.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar{
    width: 100%;
    height: 65px;
    background-image: url(./picture/bar.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.word-logo{
    font-size: 40px;
    font-weight: bold;
    color: rgba(249, 197, 10, 0.984);
}
.word-logo span{
    color: rgba(196, 224, 11, 0.984);
}
.all-option{
    margin-top: 20px;
}
.all-option .option-nav{
    display: inline;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    background-image: url(./picture/Screenshot_1.png);
    color:rgb(75, 46, 4);
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin-left: 15px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.all-option .option-nav:hover{
   background-image: url(./picture/dark\ wood.jpg);
   color: rgba(249, 197, 10, 0.984);
}
.img-header{
    width: 100%;
    height: 200px;
    background-image: url(./picture/OIP.jpg);
    background-position:160px;
    position: relative;
}
.img-header h2{
    background-image: url(./picture/bar.png);
    font-size: 50px;
    font-weight: bolder;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left:215px;
    color: rgba(249, 197, 10, 0.984);
}
.img-header p{
    background-image: url(./picture/bar.png);
    font-size: 30px;
    font-weight: bolder;
    border-radius: 5px;
    position: absolute;
    top: 90px;
    left:140px;
    color: rgba(249, 197, 10, 0.984);
    text-transform: capitalize;
}
.line-head-1{
    position: absolute;
    left: 325px;
    width: 7px;
    height: 30px;
    background-image: url(./picture/Screenshot_1.png);
}

.contant{
   display: flex;
   justify-content: space-around;
   width: 100%;
}
.Categorise{
    width: 30%;
    margin-top: 70px;
    font-weight: bolder;
}
.Categorise h1{
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    box-shadow: 100px 12px 13px #000;
}
.cards{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 10px;
}
.Type-card{
    width: 250px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;
    background-image:url(./picture/bar.png);
    transition: .5s ease-out;
    box-shadow: 20px 12px 13px #000;
}
.Type-card img{
width: 100%;
height: 70%;
}

.Type-card:hover{
    transform: scale(1.1);    
    }
    .Type-card:hover img{
        opacity: 0.7;   
    }
button{
    padding: 13px;
    margin: 5px 0 0 43px;
    border-radius: 5px;
    border: none;
    background-image: url(./picture/Screenshot_1.png);
    color:rgb(75, 46, 4);
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    transition: .4s ease-out;
}
button:hover{
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    letter-spacing: 1px;
}
.line-head-2{
    position: absolute;
    top :265px;
    left: 100px;
    width: 7px;
    height: 75px;
    background-image: url(./picture/Screenshot_1.png); 
}
.line-head-3{
    position: absolute;
    top :265px;
    left: 500px;
    width: 7px;
    height: 75px;
    background-image: url(./picture/Screenshot_1.png); 
}
/*========================== layout Home Page ================================*/
#shopping-cart{
    width: 100%;
    height: 100vh;
    background-image: url(./picture/eFsiXhx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.title{
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    font-size: 60px;
    width: 40%;  
    position: absolute;
    top:30px;
    left: 100px;
    box-shadow: 100px 12px 13px #000;
}
.line-1{
    position: absolute;
    top: -25px;
    left: 100px;
    width: 7px;
    height: 40px;
    background-image: url(./picture/Screenshot_1.png);
}
.line-2{
    position: absolute;
    top: -25px;
    left: 500px;
    width: 7px;
    height: 40px;
    background-image: url(./picture/Screenshot_1.png);
}
.books-added{
    position: absolute;
    top: 200px;
    left: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
} 
.sale-book{
    height: 200px;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
    transition: .4s ease-in;
    box-shadow: 10px 12px 13px #000;
    cursor: pointer;
}
.sale-book img{
    width: 100%;
    height: 80%;
}
.sale-book p{
    background-image: url(./picture/eFsiXhx.jpg);
    width: 100%;
    height: 20%;
    font-size: 20px;
    color:rgba(249, 197, 10, 0.984); 
    text-align: center;
}
.sale-book:hover{
    transform: scale(1.1);    
    }
    .sale-book:hover img{
        opacity: 0.7;   
    }
/*========================= shopping cart layout ==========================*/
#book-information{
    width: 100%;
    height: 100vh;
    background-image: url(./picture/eFsiXhx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.page-info{
    display: flex;
    justify-content: space-between;
}
.image-book{
    width: 30%;
    height: 80%;
    border-radius: 25px;
    position: absolute;
    top: 50px;
    left: 50px;
    overflow: hidden;
    transition: .4s ease-in-out;
}
.image-book img{
    width: 100%;
}
.image-book:hover{
    transform: scale(1.1);    
    }
    .image-book:hover img{
        opacity: 0.9;   
    }
.Book-description{
    width: 50%;
    height: 80%;
    position: absolute;
    right: 30px;
    top: 40px;
    background-image:url(./picture/Screenshot_1.png);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 20px 12px 13px #000;
}
.Book-description h1{
    height: 70px;
    text-align: center;
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    text-transform: capitalize;
    font-size: 40px;
    padding-top: 10px;
}
.line-3{
    position: absolute;
    right: 80px;
    width: 7px;
    height: 60px;
    background-image: url(./picture/Screenshot_1.png);
}
.line-4{
    position: absolute;
    right: 700px;
    width: 7px;
    height: 60px;
    background-image: url(./picture/Screenshot_1.png);   
}
.Book-description p{
    font-size: 30px;
    font-weight: 900;
    color:rgb(75, 46, 4);
    
}