@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
#Home{
    width: 100%;
    height: 100vh;
    background-image: url(./picture/eFsiXhx.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar{
    width: 100%;
    height: 65px;
    background-image: url(./picture/bar.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.word-logo{
    font-size: 40px;
    font-weight: bold;
    color: rgba(249, 197, 10, 0.984);
}
.word-logo span{
    color: rgba(196, 224, 11, 0.984);
}
.all-option{
    margin-top: 20px;
}
.option-nav-1{
    background-image: url(./picture/dark\ wood.jpg);
    color: rgba(249, 197, 10, 0.984);
    display: inline;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin-left: 15px;
    cursor: pointer;
} 
.all-option .option-nav{
    display: inline;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    background-image: url(./picture/Screenshot_1.png);
    color:rgb(75, 46, 4);
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin-left: 15px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.all-option .option-nav:hover{
   background-image: url(./picture/dark\ wood.jpg);
   color: rgba(249, 197, 10, 0.984);
}
.img-header{
    width: 100%;
    height: 200px;
    background-image: url(./picture/OIP.jpg);
    background-position:160px;
    position: relative;
}
.img-header h2{
    background-image: url(./picture/bar.png);
    font-size: 50px;
    font-weight: bolder;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left:215px;
    color: rgba(249, 197, 10, 0.984);
}
.img-header p{
    background-image: url(./picture/bar.png);
    font-size: 30px;
    font-weight: bolder;
    border-radius: 5px;
    position: absolute;
    top: 90px;
    left:140px;
    color: rgba(249, 197, 10, 0.984);
    text-transform: capitalize;
}
.line-head-1{
    position: absolute;
    left: 325px;
    width: 7px;
    height: 30px;
    background-image: url(./picture/Screenshot_1.png);
}

.contant{
   display: flex;
   justify-content: space-around;
   width: 100%;
}
.Categorise{
    width: 30%;
    margin-top: 70px;
    font-weight: bolder;
}
.Categorise h1{
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
    box-shadow: 100px 12px 13px #000;
}
.cards{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 10px;
    margin-bottom: 80px;
}
.Type-card{
    width: 250px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;
    background-image:url(./picture/bar.png);
    transition: .5s ease-out;
    box-shadow: 20px 12px 13px #000;
}
.Type-card img{
width: 100%;
height: 70%;
}

.Type-card:hover{
    transform: rotate(5deg)    
    }
    .Type-card:hover img{
        opacity: 0.7;   
    }
button{
    padding: 13px;
    margin: 5px 0 0 43px;
    border-radius: 5px;
    border: none;
    background-image: url(./picture/Screenshot_1.png);
    color:rgb(75, 46, 4);
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    transition: .4s ease-out;
}
button:hover{
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    letter-spacing: 1px;
}
.line-head-2{
    position: absolute;
    top :265px;
    left: 100px;
    width: 7px;
    height: 75px;
    background-image: url(./picture/Screenshot_1.png); 
}
.line-head-3{
    position: absolute;
    top :265px;
    left: 500px;
    width: 7px;
    height: 75px;
    background-image: url(./picture/Screenshot_1.png); 
}
/*========================== layout Home Page ================================*/
#shopping-cart{
    width: 100%;
    height: 100vh;
    background-image: url(./picture/eFsiXhx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.title{
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    font-size: 60px;
    width: 40%;  
    position: absolute;
    top:30px;
    left: 100px;
    box-shadow: 100px 12px 13px #000;
}
.line-1{
    position: absolute;
    top: -30px;
    left: 100px;
    width: 7px;
    height: 40px;
    background-image: url(./picture/Screenshot_1.png);
}
.line-2{
    position: absolute;
    top: -30px;
    left: 500px;
    width: 7px;
    height: 40px;
    background-image: url(./picture/Screenshot_1.png);
}
.books-added{
    position: absolute;
    top: 200px;
    left: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
} 
.sale-book{
    height: 200px;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
    transition: .4s ease-in;
    box-shadow: 10px 12px 13px #000;
    cursor: pointer;
}
.sale-book img{
    width: 100%;
    height: 80%;
}
.sale-book p{
    background-image: url(./picture/eFsiXhx.jpg);
    width: 100%;
    height: 20%;
    font-size: 20px;
    color:rgba(249, 197, 10, 0.984); 
    text-align: center;
}
.sale-book:hover{
    transform: scale(1.1);    
    }
    .sale-book:hover img{
        opacity: 0.7;   
    }
/*========================= shopping cart layout ==========================*/
#book-information{
    width: 100%;
    height: 100vh;
    background-image: url(./picture/eFsiXhx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.page-info{
    display: flex;
    justify-content: space-between;
}
.image-book{
    width: 30%;
    height: 80%;
    border-radius: 25px;
    position: absolute;
    top: 50px;
    left: 50px;
    overflow: hidden;
    transition: .4s ease-in-out;
    box-shadow: 20px 12px 13px #000;
}
.image-book img{
    width: 100%;
}
.image-book:hover{
    transform: scale(1.1);    
    }
    .image-book:hover img{
        opacity: 0.9;   
    }
.Book-description{
    width: 50%;
    height: 80%;
    position: absolute;
    right: 30px;
    top: 40px;
    background-image:url(./picture/Screenshot_1.png);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 20px 12px 13px #000;
}
.Book-description h1{
    height: 70px;
    text-align: center;
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    text-transform: capitalize;
    font-size: 40px;
    padding-top: 10px;
}
.line-3{
    position: absolute;
    right: 80px;
    width: 7px;
    height: 60px;
    background-image: url(./picture/Screenshot_1.png);
}
.line-4{
    position: absolute;
    right: 700px;
    width: 7px;
    height: 60px;
    background-image: url(./picture/Screenshot_1.png);   
}
.Book-description p{
    font-size: 30px;
    font-weight: 900;
    color:rgb(75, 46, 4);
    
}
.page-info button{
    position: absolute;
    right: 120px;
    top: 716px;
}
.line-button{
    position: absolute;
    top: 670px;
    right: 180px;
    width: 7px;
    height: 50px;
    background-image: url(./picture/Screenshot_1.png);   
}
/*========================== books-of-categorises layout ================================*/

#books-of-categorises{
    width: 100%;
    height: 100vh;
    background-image: url(./picture/eFsiXhx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.books{
    position: absolute;
    top: 200px;
    left: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
}
.item-book{
    height: 270px;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
    transition: .4s ease-in;
    box-shadow: 10px 12px 13px #000;
    cursor: pointer;
    align-content: center;
}
.item-book img{
    width: 100%;
    height: 60%;
}
.item-book:hover{
    transform: scale(1.1);    
    }
    .item-book:hover img{
        opacity: 0.7;   
    }

.item-book button{
    padding: 13px;
    margin: 5px 0 0 43px;
    border-radius: 5px;
    border: none;
    background-image: url(./picture/Screenshot_1.png);
    color:rgb(75, 46, 4);
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    transition: .4s ease-out;
    margin-bottom: 5px;
}
.item-book button:hover{
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    letter-spacing: 1px;
}
/*========================= contact us layout ================================*/
#contact-us{
    width: 100%;
    height: 100vh;
    background-image: url(./picture/eFsiXhx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}
.title-2{
    background-image: url(./picture/bar.png);
    color: rgba(249, 197, 10, 0.984);
    text-transform: capitalize;
    border-radius: 5px;
    text-align: center;
    font-size: 60px;
    width: 40%;  
    position: absolute;
    top:30px;
    left: 100px;
    box-shadow: 100px 12px 13px #000;
}
.card{
    background-image: url(./picture/eFsiXhx.jpg);
    width: 250px;
    height: 400px;
    box-shadow: 20px 12px 13px #000;
    border-radius: 10px;
    padding: 25px;
    margin: 250px 0 0 15px;
    transition: 0.7s ease;
}
.card:hover {
    transform: scale(1.1);    
    }
    
    .icon{
    color: rgba(249, 197, 10, 0.984);
    font-size: 8em;
    text-align: center;    
    }
    .info{
    text-align: center;    
    }
    .info h3{
        color: rgba(249, 197, 10, 0.984);
    font-size: 40px;
    font-weight: 700;
    margin: 10px; }
    .info p{
        color: rgba(249, 197, 10, 0.984);
        font-size: 20px;
        font-weight: 700;
        margin: 10px; 
    }
/*======================= login card layout =======================*/
#login{
    width: 100%;
    height: 100vh;
    background-image: url(./picture/eFsiXhx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}
.form{
 width: 400px;
 height:550px;
 background-image: url(./picture/eFsiXhx.jpg);
 border-radius: 10px;
 padding: 25px;  
 position: absolute;
 top: 100px;
 left: 530px;
 box-shadow: 20px 12px 13px #000;
}
.form h2{
color:rgb(75, 46, 4);
width: 100%;
text-align: center;
font-size: 40px;
background-image: url(./picture/Screenshot_1.png); 
border-radius: 20px; 
}
.form input{
width: 100%;
height: 60px;
background: transparent;
border-bottom: 3px solid rgba(249, 197, 10, 0.984);
border-right: none;
border-left: none;
border-top: none;
font-size: 15px;
letter-spacing: 1px;
margin-top: 30px;
color: rgba(249, 197, 10, 0.984);  
}
.form input :focus{
outline: none; 
}
::placeholder {
    color: rgba(249, 197, 10, 0.984); 
    font-weight: 300;
    font-size: 15px; 
    text-transform: capitalize;
}
.btnn{
    width: 240px;
    height: 40px;
    background-image: url(./picture/Screenshot_1.png);
    border: none;
    margin: 40px 0 0 80px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;

}
.btnn:hover:hover{
    background-image: url(./picture/eFsiXhx.jpg);
    color: rgba(249, 197, 10, 0.984);
    letter-spacing: 2px;
}
.liw{
padding-top: 30px;
padding-bottom: 10px;
font-size: 20px;
font-weight: 500;
text-align: center; 
color: rgba(249, 197, 10, 0.984);   
}
.icons a{
text-decoration: none;
color: azure;    
}
.icons a i{
color: rgba(249, 197, 10, 0.984);
font-size:50px;
padding-left: 26px;
padding-top: 35px;
transition: 0.4s ease;   
}
.icons  i:hover{
color: #fff; 
transform: scale(1.3);   
}
.line-5{
    position: absolute;
    right: 630px;
    width: 13px;
    height: 100px;
    background-image: url(./picture/Screenshot_1.png);   
}
.line-6{
    position: absolute;
    right: 900px;
    width: 13px;
    height: 100px;
    background-image: url(./picture/Screenshot_1.png);   
}